# ==============================
# Exemple de configuration LVDR
# ==============================

# Clé secrète utilisée pour signer les sessions utilisateur.
# ⚠️ IMPORTANT : définis une valeur unique, longue et aléatoire dans .env (ne pas laisser vide)
# Exemple : SESSION_SECRET=K@r4o$Y7z!Q2xLpT3Wv9
SESSION_SECRET=

# URI de connexion à MongoDB.
# Format : mongodb://[user:password@]host:port/nom_base
# Pour usage local avec Docker : mongodb://localhost:27017/citizen_fork
# Remarque : "citizen_fork" est le nom de la base de données utilisée par défaut.
MONGODB_URI=mongodb://localhost:27017/citizen_fork

# (Optionnel) Port sur lequel Express écoutera
# Par défaut : 3000
# PORT=3000

# (Optionnel) Préfixe de chemin si l'application n'est pas servie à la racine
# Exemple : BASE_PATH=/lvdr
#BASE_PATH=