# Exemple de configuration pour LVDR

# Clé secrète de session (à définir manuellement pour chaque environnement)
SESSION_SECRET=

# URI MongoDB (locale ou distante)
MONGODB_URI=mongodb://localhost:27017/citizen_fork
